{% extends 'base.html.twig' %}

{% block title %}Modification du mot de pass {% endblock %}

{% block body %}
<div class="container">
<h1 class="h3 mb-3 font-weight-normal">Modification du password</h1>
    
{{form_start(pwdForm)}}

{{form_widget(pwdForm)}}
<button type="submit" class="btn btn-primary mt-4">Enregistrer</button>
{{form_end(pwdForm)}}

</div>
{% endblock %}