{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<div class="container">
<h1 class="h3 mb-3 font-weight-normal">Enregistrez vous</h1>

{{form_start(regist_form)}}

{{form_widget(regist_form)}}
<button type="submit" class="btn btn-primary mt-4">S'inscrire</button>
{{form_end(regist_form)}}

</div>
{% endblock %}
