
div.container{
    margin-top: 20px;
}
div.ad-title{
    padding:2em;
    background-color: cover;
    background-position: center center;
}

div.ad-title h1,div.ad-title p{

    color: white;
    text-shadow:3px 3px 3px rgba(161, 115, 115, 0.5);
} 

div.carousel-caption{
    text-shadow:3px 3px 3px rgba(161, 115, 115, 0.5);
}

.avatar{
    max-width:  10 px;
    max-height: 10 px;
    border-radius: 50%;
}

.avatar-medium{
    max-width:  64 px;
    max-height: 64 px;
    border-radius: 50%;
}
/* les images des author d'annonce dans la partie administration et de la barre de navigation */
.avatar-micro{
    max-width: 30px;
    max-height: 30px;
}


/* Ajouter du style sur les journée impossible a choisir  */
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
    background-color: #DDD !important;
    padding: 1px;
    color:firebrick !important;
}
/* les notes */
span.rating i{
    color: goldenrod;
}

a{
    text-decoration: none;
}

